.form {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 900px;
  gap: 10px 20px;
}

.title {
  font-size: 18px;
  margin: 0;
  margin-bottom: 0.2em;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-button {
  color: #d11a2a;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
}
.delete-button:hover {
  opacity: 0.85;
}

.delete-button:active {
  opacity: 0.95;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  grid-column: 1 / -1;
}

.server-list {
  display: flex;
  flex-wrap: wrap;
}

.hint-wrapper {
  grid-column: 1 / -1;
}
